.catalog {
    padding: 40px 0;
}
.categories{
    display: flex;
    margin: 20px 0;
    gap: 10px;
}
.category{
    padding: 10px 20px;
    font-family: inherit;
    font-size: 16px;
    background-color: #99c772;
    color: white;
    cursor: pointer;
}
