.accordeon{
    
}
.accordeon__item {
    width: 700px;
    background-color: #99c772;
    margin-top: 10px;
    color: white;
}
.accordeon__item p{
    font-size: 20px;
}
.accordeon__btn{
    font-size: 20px;
}
.accotdeon__title {display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.accordeon__text {
    padding: 15px;
    line-height: 170%;
}